<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
  <div class="container" style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; border-radius: 10px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #333333; text-align: center;">Reset Password Kulinerz</h1>
    <p style="color: #666666; line-height: 1.6;">Halo, {{name}}</p>
    <p style="color: #666666; line-height: 1.6;">Kami telah menerima permintaan Anda untuk mereset kata sandi akun Anda di Aplikasi Kulinerz. Permintaan ini akan kadaluarsa pada {{expiredAt}}. Untuk melanjutkan proses reset kata sandi, silakan klik tautan di bawah ini:</p>
    <div style="width: fit-content; margin: auto; margin-top: 2rem; margin-bottom: 2rem;">
      <a href="{{link}}" class="button" style="display: inline; padding: 10px 20px; background-color: #ff3d3d; color: #ffffff; text-decoration: none; text-align: center; border-radius: 5px;">Reset Password</a>
    </div>
    <p style="color: #666666; line-height: 1.6;">Jika Anda tidak merasa melakukan permintaan ini, Anda bisa mengabaikan email ini, dan kata sandi Anda saat ini akan tetap aman.</p>
    <strong style="color: #666666; line-height: 1.6;">Langkah-langkah Reset Kata Sandi:</strong>
    <ol style="color: #666666; line-height: 1.6;">
      <li>Klik tautan di atas untuk mengakses halaman reset kata sandi.</li>
      <li>Di halaman reset kata sandi, Anda akan diminta untuk memasukkan kata sandi baru Anda.</li>
      <li>Setelah Anda memasukkan kata sandi baru, klik "Ganti Kata Sandi" untuk menyelesaikan proses reset.</li>
    </ol>
    <p style="color: #666666; line-height: 1.6;">Salam hangat, Kulinerz Team.</p>
    <p style="color: #666666; line-height: 1.6;">kulinerz.id</p>
  </div>
</body>
</html>