<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
  <div class="container" style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; border-radius: 10px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #333333; text-align: center;">Verikasi Email Resto Kulinerz</h1>
    <p style="color: #666666; line-height: 1.6;">Halo, {{name}}</p>
    <p style="color: #666666; line-height: 1.6;">Kami adalah tim di belakang aplikasi Kulinerz, dan kami ingin menyambut Anda dalam komunitas kami! Terima kasih atas minat Anda untuk mendaftarkan restoran Anda di platform kami.</p>
    <p style="color: #666666; line-height: 1.6;">Untuk memulai, kami perlu melakukan verifikasi email Anda. Verifikasi ini akan kadaluarsa pada {{expiredAt}}. Tekan tombol verifkasi untuk memverifikasi akun Anda.</p>
    <div style="width: fit-content; margin: auto; margin-top: 2rem; margin-bottom: 2rem;">
      <a href="{{link}}" class="button" style="display: inline; padding: 10px 20px; background-color: #ff3d3d; color: #ffffff; text-decoration: none; text-align: center; border-radius: 5px;">Verifikasi</a>
    </div>
    <p style="color: #666666; line-height: 1.6;">Salam hangat, Kulinerz Team.</p>
    <p style="color: #666666; line-height: 1.6;">kulinerz.id</p>
  </div>
</body>
</html>