<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
  <div class="container" style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; border-radius: 10px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #333333;">Verikasi Email Akun MakansMinums</h1>
    <p style="color: #666666; line-height: 1.6;">Halo, {{name}}</p>
    <p style="color: #666666; line-height: 1.6;">Terima kasih telah menggunakan layanan kami.</p>
    <p style="color: #666666; line-height: 1.6;">Verifikasi ini akan kadaluarsa dalam waktu 10 menit. Tekan tombol verifkasi untuk memverifikasi akunmu.</p>
    <a href="{{link}}" class="button" style="display: inline-block; padding: 10px 20px; background-color: #ff3d3d; color: #ffffff; text-decoration: none; text-align: center; border-radius: 5px; margin-top: 15px;">Verifikasi</a>
    <p style="color: #666666; line-height: 1.6;">Salam hangat, MakansMinums Team</p>
    <p style="color: #666666; line-height: 1.6;">makansminunms.id</p>
  </div>
</body>
</html>